# Grid sampling

In [29]:
%cd "~/lab/NB10422645"
from src.problems.two_dimensional import *
from src.notebooks.constraint_manifold_sampling import *
import pandas as pd

/home/ggarrett/lab/NB10422645

In [18]:
%cd "~/lab/NB10422645"
from src.problems.two_dimensional import *
test_geometry = MissionGeometry()
test_design = NOmegaPointsScaleBasedPeriodic(int(test_geometry.P_s / 10), 3)
test_spacecraft = Spacecraft()
test_problem = AttitudeTrajectoryProblem2D(test_geometry, test_spacecraft, test_design)

/home/ggarrett/lab/NB10422645

In [19]:
%macro _base_problem 18

Macro `_base_problem` created. To execute, type its name (without quotes).
=== Macro contents: ===
get_ipython().run_line_magic('cd', '"~/lab/NB10422645"')
from src.problems.two_dimensional import *
test_geometry = MissionGeometry()
test_design = NOmegaPointsScaleBasedPeriodic(int(test_geometry.P_s / 10), 3)
test_spacecraft = Spacecraft()
test_problem = AttitudeTrajectoryProblem2D(test_geometry, test_spacecraft, test_design)

In [20]:
%store _base_problem

Stored '_base_problem' (Macro)

In [52]:
# %%time

grid = sampled_grid(test_problem.design_space.get_bounds, 10, flatten=True)
grid = pd.DataFrame(grid).T
# res = None

# for _x in grid.T:
#     f = test_problem.fitness(_x)
#     res = [np.concatenate((f,_x))] if res is None else np.concatenate((res, [np.concatenate((f,_x))]), axis=0)
    
# df = pd.DataFrame(columns=[f"f{i+1}" for i in range(4)] + [f"x{i+1}" for i in range(len(test_problem.design_space.get_bounds[0]))], data=res)
# df.to_csv("dataSet_gridSampled_1.csv")

               0        1        2      3      4      5         6
0       -0.02618 -0.02618 -0.02618  0.001  0.001  0.001  0.001000
1       -0.02618 -0.02618 -0.02618  0.001  0.001  0.001  0.111889
2       -0.02618 -0.02618 -0.02618  0.001  0.001  0.001  0.222778
3       -0.02618 -0.02618 -0.02618  0.001  0.001  0.001  0.333667
4       -0.02618 -0.02618 -0.02618  0.001  0.001  0.001  0.444556
...          ...      ...      ...    ...    ...    ...       ...
9999995  0.02618  0.02618  0.02618  0.999  0.999  0.999  0.555444
9999996  0.02618  0.02618  0.02618  0.999  0.999  0.999  0.666333
9999997  0.02618  0.02618  0.02618  0.999  0.999  0.999  0.777222
9999998  0.02618  0.02618  0.02618  0.999  0.999  0.999  0.888111
9999999  0.02618  0.02618  0.02618  0.999  0.999  0.999  0.999000

[10000000 rows x 7 columns]

In [36]:
%%time

10**7 / 12162162

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 3.34 µs

0.8222222331851853

In [2]:
df = pd.DataFrame(columns=[f"f{i+1}" for i in range(4)] + [f"x{i+1}" for i in range(len(test_problem.design_space.get_bounds[0]))], data=res)
df.to_csv("dataSet_gridSampled_1.csv")

NameError: name 'test_problem' is not defined

In [33]:
df = pd.read_csv("data/dataSet_gridSampled_1.csv")

In [1]:
%cd "~/lab/NB10422645"
import pandas as pd

[Errno 2] No such file or directory: '/home/ggarrett/lab/NB10422645'
/home/ggarrett/lab/NB10422645 (Stage - Airbus)/notebooks

In [36]:
df.name = "dataSet_gridSampled_1"
df.to_feather(f'data/{df.name}.feather')
df.to_parquet(f'data/{df.name}.parquet')

In [25]:
df = pd.read_parquet('data/dataSet_gridSampled_1.parquet')
df

grid = sampled_grid(test_problem.design_space.get_bounds, 10, flatten=True)
grid = pd.DataFrame(grid.T, columns=[f"x{i+1}" for i in range(len(grid.T[0]))])

grid.loc[2088743:,"x1":"x7"]

              x1        x2        x3        x4        x5        x6        x7
2088743 -0.02618 -0.014544  0.020362  0.888111  0.777222  0.444556  0.333667
2088744 -0.02618 -0.014544  0.020362  0.888111  0.777222  0.444556  0.444556
2088745 -0.02618 -0.014544  0.020362  0.888111  0.777222  0.444556  0.555444
2088746 -0.02618 -0.014544  0.020362  0.888111  0.777222  0.444556  0.666333
2088747 -0.02618 -0.014544  0.020362  0.888111  0.777222  0.444556  0.777222
...          ...       ...       ...       ...       ...       ...       ...
9999995  0.02618  0.026180  0.026180  0.999000  0.999000  0.999000  0.555444
9999996  0.02618  0.026180  0.026180  0.999000  0.999000  0.999000  0.666333
9999997  0.02618  0.026180  0.026180  0.999000  0.999000  0.999000  0.777222
9999998  0.02618  0.026180  0.026180  0.999000  0.999000  0.999000  0.888111
9999999  0.02618  0.026180  0.026180  0.999000  0.999000  0.999000  0.999000

[7911257 rows x 7 columns]

In [34]:
from IPython.display import display, clear_output

In [42]:
%%time

grid_values = grid.loc[2088743:,"x1":"x7"].values
perc_val = int(0.005 * len(grid_values))
res=None
count=0
for idx,_x in enumerate(grid_values):
    count+=1
    f = test_problem.fitness(_x)
    res = [np.concatenate((f,_x))] if res is None else np.concatenate((res, [np.concatenate((f,_x))]), axis=0)
    if (count % perc_val) == 0:
        print(round(count/len(grid_values) * 100, 1), r"%")
        
# df = pd.DataFrame(columns=[f"f{i+1}" for i in range(4)] + [f"x{i+1}" for i in range(len(test_problem.design_space.get_bounds[0]))], data=res)
# df.to_csv("dataSet_gridSampled_1.csv")

0.5 %
1.0 %
1.5 %
2.0 %
2.5 %
3.0 %
3.5 %
4.0 %
4.5 %
5.0 %
5.5 %
6.0 %
6.5 %
7.0 %
7.5 %
8.0 %
8.5 %
9.0 %
9.5 %
10.0 %
10.5 %
11.0 %
11.5 %
12.0 %
12.5 %
13.0 %
13.5 %
14.0 %
14.5 %
15.0 %
15.5 %
16.0 %
16.5 %
17.0 %
17.5 %
18.0 %
18.5 %
19.0 %
19.5 %
20.0 %
20.5 %

KeyboardInterrupt:

In [51]:
df2 = pd.concat([df, pd.DataFrame(columns=df.columns, data=res)])

In [54]:
df2.reset_index()

,index,f1,f2,f3,f4,x1,x2,x3,x4,x5,x6,x7
0,0,0.987648,0.366556,0.000067,0.082389,-0.026180,-0.026180,-0.026180,0.001,0.001000,0.001000,0.001000
1,1,1.047714,0.213328,0.000972,0.029066,-0.026180,-0.026180,-0.026180,0.001,0.001000,0.001000,0.111889
2,2,0.978386,0.215064,0.001894,0.028590,-0.026180,-0.026180,-0.026180,0.001,0.001000,0.001000,0.222778
3,3,0.955073,0.217603,0.002816,0.028429,-0.026180,-0.026180,-0.026180,0.001,0.001000,0.001000,0.333667
4,4,0.939361,0.221355,0.003738,0.028348,-0.026180,-0.026180,-0.026180,0.001,0.001000,0.001000,0.444556
...,...,...,...,...,...,...,...,...,...,...,...,...
3739882,1651139,1.008759,0.286165,0.000024,0.014530,0.014544,-0.008727,-0.008727,0.999,0.888111,0.888111,0.222778
3739883,1651140,1.016662,0.322910,0.000017,0.014518,0.014544,-0.008727,-0.008727,0.999,0.888111,0.888111,0.333667
3739884,1651141,1.026199,0.339333,0.000014,0.014529,0.014544,-0.008727,-0.008727,0.999,0.888111,0.888111,0.444556
3739885,1651142,1.032065,0.368100,0.000013,0.014516,0.014544,-0.008727,-0.008727,0.999,0.888111,0.888111,0.555444
3739886,1651143,1.031284,0.400848,0.000014,0.014531,0.014544,-0.008727,-0.008727,0.999,0.888111,0.888111,0.666333

In [64]:
df_new = df2.reset_index(drop=True)

df_new

df_new.to_parquet("data/dataSet_gridSampled_1_1.parquet")

In [5]:
import pandas as pd
df_ = pd.read_parquet("data/dataSet_gridSampled_10.parquet")

df_.to_csv("data/dataSet_gridSampled_10.csv")

In [66]:
df_

,f1,f2,f3,f4,x1,x2,x3,x4,x5,x6,x7
0,0.987648,0.366556,0.000067,0.082389,-0.026180,-0.026180,-0.026180,0.001,0.001000,0.001000,0.001000
1,1.047714,0.213328,0.000972,0.029066,-0.026180,-0.026180,-0.026180,0.001,0.001000,0.001000,0.111889
2,0.978386,0.215064,0.001894,0.028590,-0.026180,-0.026180,-0.026180,0.001,0.001000,0.001000,0.222778
3,0.955073,0.217603,0.002816,0.028429,-0.026180,-0.026180,-0.026180,0.001,0.001000,0.001000,0.333667
4,0.939361,0.221355,0.003738,0.028348,-0.026180,-0.026180,-0.026180,0.001,0.001000,0.001000,0.444556
...,...,...,...,...,...,...,...,...,...,...,...
3739882,1.008759,0.286165,0.000024,0.014530,0.014544,-0.008727,-0.008727,0.999,0.888111,0.888111,0.222778
3739883,1.016662,0.322910,0.000017,0.014518,0.014544,-0.008727,-0.008727,0.999,0.888111,0.888111,0.333667
3739884,1.026199,0.339333,0.000014,0.014529,0.014544,-0.008727,-0.008727,0.999,0.888111,0.888111,0.444556
3739885,1.032065,0.368100,0.000013,0.014516,0.014544,-0.008727,-0.008727,0.999,0.888111,0.888111,0.555444
3739886,1.031284,0.400848,0.000014,0.014531,0.014544,-0.008727,-0.008727,0.999,0.888111,0.888111,0.666333

In [31]:
import os

def grid_sample_problem(problem, n=10, scale_bounds=1.0, fixed=(())):
    
    bounds = scale_bounds * np.array(problem.design_space.get_bounds)
    
    
    grid = sampled_grid(bounds, n, flatten=True)
    grid = pd.DataFrame(grid.T, columns=[f"x{i+1}" for i in range(len(grid.T[0]))])
    grid_ = grid
    grid_values = grid_.values
    perc_val = int(0.005 * len(grid_values))
    
    # Generate storage matrix.
    res=np.zeros((grid_.values.shape[0], 11))   # Add f,x shape attribute to problem.
    count=0
    for idx,_x in enumerate(grid_values):
        count+=1
        f = problem.fitness(_x)
        res[idx] = np.concatenate((f,_x))
        if (count % perc_val) == 0:
            print(round(count/len(grid_values) * 100, 1), r"%")
        
    df = pd.DataFrame(columns=[f"f{i+1}" for i in range(4)] + [f"x{i+1}" for i in range(len(test_problem.design_space.get_bounds[0]))], data=res)
    if os.path_exists("data"):
        pass
    else:
        os.mkdir("data")
        
    if os.path_exists("data/AttitudeTrajectoryProblem2D_C1_R")
    
    save_name = f"data/AttitudeTrajectoryProblem2D_C1_R/dataSet_gridSampled_{n}.parquet" if bounds is None else
    
    
    df.to_parquet(save_name)

CPU times: user 7 µs, sys: 0 ns, total: 7 µs
Wall time: 11.7 µs

In [21]:
# %load _base_problem
get_ipython().run_line_magic('cd', '"~/lab/NB10422645"')
from src.problems.two_dimensional import *
test_geometry = MissionGeometry()
test_design = NOmegaPointsScaleBasedPeriodic(int(test_geometry.P_s / 10), 3)
test_spacecraft = Spacecraft()
test_problem = AttitudeTrajectoryProblem2D(test_geometry, test_spacecraft, test_design)

In [40]:
for n in np.arange(3,11):
    grid_sample_problem(test_problem, n)

ZeroDivisionError: integer division or modulo by zero

In [42]:
np.arange(3,11)

array([ 3,  4,  5,  6,  7,  8,  9, 10])